{
  "env": {
    "browser": true
  },
  "parser": "babel-eslint",
  "env": {
      "browser": true
  },
  "extends": [
    "standard",
    "standard-react",
    "prettier",
    "prettier/flowtype",
    "prettier/react"
  ],
  "plugins": [
      "flowtype"
  ],
  "rules": {
    "comma-dangle" : [0, "always-multiline"],
    "flowtype/require-return-type": [
        0,
        "always",
        {
            "annotateUndefined": "never"
        }
    ],
    "flowtype/space-after-type-colon": [
        1,
        "always"
    ],
    "flowtype/space-before-type-colon": [
        1,
        "never"
    ],
    "flowtype/type-id-match": [
        1,
        "((^([A-Z][a-z0-9]+)+T$)|(^Props$)|(^DefaultProps$)|(^State$))"
    ],
    "no-console": [1, {"allow": ["warn", "error"]}],
    "no-extra-semi": 2,
    "react/jsx-boolean-value": [0, "always"],
    "react/jsx-no-bind": [2, {
      "ignoreRefs": false,
      "allowArrowFunctions": true,
      "allowBind": false
    }],
    "react/self-closing-comp": 2,
    "semi": [2, "never"],
    "space-infix-ops": "off"
  },
  "settings": {
    "flowtype": {
        "onlyFilesWithFlowAnnotation": true
    }
  },
  "globals": {
    "fetch": false
  }
}
